/*#region Font */
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/Assets/Font/brandon_light-webfont.eot');
  src: url('/Assets/Font/brandon_light-webfont.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/brandon_light-webfont.woff2') format('woff2'), url('/Assets/Font/brandon_light-webfont.woff') format('woff'), url('/Assets/Font/brandon_light-webfont.ttf') format('truetype'), url('/Assets/Font/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/Assets/Font/brandon_reg-webfont.eot');
  src: url('/Assets/Font/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/brandon_reg-webfont.woff2') format('woff2'), url('/Assets/Font/brandon_reg-webfont.woff') format('woff'), url('/Assets/Font/brandon_reg-webfont.ttf') format('truetype'), url('/Assets/Font/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/Assets/Font/brandon_bld-webfont.eot');
  src: url('/Assets/Font/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/brandon_bld-webfont.woff2') format('woff2'), url('/Assets/Font/brandon_bld-webfont.woff') format('woff'), url('/Assets/Font/brandon_bld-webfont.ttf') format('truetype'), url('/Assets/Font/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*#endregion */
/*#region Responsive Templates */
/*#endregion */
/*#region Layout */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #576369;
  font-size: 16px;
  line-height: 1;
  font-family: 'Brandon Grotesque', sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #ffffff;
}
a {
  text-decoration: none;
  color: #33b1eb;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  outline: none;
}
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
  color: #1599d6;
}
input[type="radio"],
input[type="checkbox"] {
  outline: none;
}
input[type="radio"]:active,
input[type="checkbox"]:active,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}
/*#endregion */
/*#region Shared */
.AboArticle header {
  font-size: 40px;
  font-weight: lighter;
  line-height: 1.2;
  margin-bottom: 25px;
  color: #112c38;
}
.AboArticle section {
  font-size: 18px;
  line-height: 1.6;
  color: #576369;
}
@media (max-width: 767px) {
  .AboArticle header {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .AboArticle section {
    font-size: 16px;
    line-height: 1.4;
  }
}
.tooltip-inner {
  padding: 10px;
  font-size: 14px;
}
ul.checkmarks {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}
ul.checkmarks li {
  display: block;
  margin-bottom: 5px;
}
ul.checkmarks li:before {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Flaticons Solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "";
  color: #95c534;
  margin-right: 15px;
  font-size: 26px;
}
.PopUp {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -250px;
  margin-top: 10px;
  width: 500px;
  padding: 15px;
  background-color: #ebf3f6;
  border-radius: 5px;
  box-shadow: 0 0 0 9999px rgba(17, 44, 56, 0.8);
  z-index: 999999;
}
.PopUp.active {
  display: block;
}
.PopUp header {
  position: relative;
  text-align: center;
  padding: 15px 0 20px 0;
}
.PopUp header .ClosePopUp {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #576369;
  font-size: 24px;
  opacity: 0.5;
}
.PopUp header .ClosePopUp:hover {
  opacity: 1;
}
.PopUp header .ClosePopUp:before {
  font-family: 'Flaticons Solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "";
}
.PopUp header .Icon {
  display: inline-block;
}
.PopUp header h4 {
  margin: 0;
  font-size: 40px;
  font-weight: lighter;
  line-height: 1.3;
}
.PopUp section {
  padding: 0 35px 15px 35px;
}
.PopUp section input[type="text"],
.PopUp section input[type="password"],
.PopUp section input[type="email"] {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  font-weight: normal;
  color: #112c38;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  line-height: normal;
}
.PopUp section input[type="text"]::-webkit-input-placeholder,
.PopUp section input[type="password"]::-webkit-input-placeholder,
.PopUp section input[type="email"]::-webkit-input-placeholder {
  font-weight: lighter;
  color: #a5afb4;
}
.PopUp section input[type="text"]:-moz-placeholder,
.PopUp section input[type="password"]:-moz-placeholder,
.PopUp section input[type="email"]:-moz-placeholder {
  font-weight: lighter;
  color: #a5afb4;
  opacity: 1;
}
.PopUp section input[type="text"]::-moz-placeholder,
.PopUp section input[type="password"]::-moz-placeholder,
.PopUp section input[type="email"]::-moz-placeholder {
  font-weight: lighter;
  color: #a5afb4;
  opacity: 1;
}
.PopUp section input[type="text"]:-ms-input-placeholder,
.PopUp section input[type="password"]:-ms-input-placeholder,
.PopUp section input[type="email"]:-ms-input-placeholder {
  font-weight: lighter;
  color: #a5afb4;
}
.PopUp section input[type="text"]:focus,
.PopUp section input[type="password"]:focus,
.PopUp section input[type="email"]:focus {
  background-color: #d6e5eb;
}
.PopUp section .devider {
  height: 15px;
}
.PopUp section .InputWithIcon {
  position: relative;
}
.PopUp section .InputWithIcon i {
  opacity: 0.3;
  position: absolute;
  top: 14px;
  right: 18px;
}
.PopUp section .InputWithIcon i.TooltipHolder {
  opacity: 0.6;
}
.PopUp section .DoubleInputRow .InputWithIcon {
  width: 50%;
  float: left;
}
.PopUp section .DoubleInputRow .InputWithIcon:first-child {
  padding-right: 5px;
}
.PopUp section .DoubleInputRow .InputWithIcon:last-child {
  padding-left: 5px;
}
.PopUp section .DoubleInputRow input {
  width: 100%;
}
.PopUp footer {
  padding: 0 35px 35px 35px;
}
.PopUp footer div {
  display: table-cell;
  vertical-align: middle;
}
.PopUp footer div:first-child {
  width: 100%;
}
.PopUp footer span {
  font-size: 14px;
}
.PopUp footer button {
  height: 50px;
  background-color: #33b1eb;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 0 30px;
  white-space: nowrap;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.PopUp footer button:hover {
  background-color: #1599d6;
}
/*#endregion */
/*#region MainHeader */
.MainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 10px;
}
.MainHeader .navbar-brand {
  display: table-cell;
  float: none;
  padding: 0;
  vertical-align: middle;
}
.MainHeader .LinksList {
  padding: 0;
}
.MainHeader .LinksList a {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
}
.MainHeader .LinksList a:hover {
  opacity: 1;
}
.MainHeader .LinksList .Tour .DropDownIcon {
  vertical-align: middle;
  margin-left: 10px;
}
.MainHeader .LinksList .Tour .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -10px;
  margin-right: 10px;
  padding: 10px 0;
}
.MainHeader .LinksList .Tour .dropdown-menu li a {
  opacity: 1;
  color: rgba(255, 255, 255, 0.8);
  padding: 4px 20px;
}
.MainHeader .LinksList .Tour .dropdown-menu li a:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}
.MainHeader .LinksList .devider {
  display: block;
  height: 20px;
  margin: 20px 0;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.25);
}
.MainHeader .BtnRegister {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  height: 40px;
  margin: 10px 0;
  padding: 13px 18px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  margin-left: 3px;
  margin-right: 15px;
}
.MainHeader .BtnRegister:hover {
  background-color: rgba(0, 0, 0, 0.45);
}
.MainHeader .BtnLanguage {
  display: inline-block;
  height: 20px;
  margin: 20px 0;
}
.MainHeader .BtnLanguage img {
  vertical-align: top;
}
.MainHeader .BtnLanguage .DropDownIcon {
  vertical-align: middle;
  padding-left: 3px;
  color: #ffffff;
  opacity: 0.5;
}
.MainHeader .BtnLanguage .dropdown-toggle:hover .DropDownIcon {
  opacity: 1;
}
.MainHeader .BtnLanguage .dropdown-menu {
  background-color: transparent;
  margin-top: 5px;
  min-width: 1px;
  border: none;
  box-shadow: none;
}
.MainHeader .BtnLanguage .dropdown-menu li a {
  padding: 0;
}
.MainHeader .BtnLanguage .dropdown-menu li a:hover {
  background-color: transparent;
}
.MainHeader.sticky .navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 0px;
  border-bottom: 1px solid #dfebee;
}
.MainHeader.sticky .LinksList a {
  color: #112c38 !important;
  opacity: 0.75;
}
.MainHeader.sticky .LinksList a:hover {
  color: #112c38;
  opacity: 1;
}
.MainHeader.sticky .LinksList .Tour .DropDownIcon {
  color: #112c38 !important;
  opacity: 0.7;
}
.MainHeader.sticky .LinksList .Tour .dropdown-menu {
  background-color: #ffffff;
  margin-top: 3px;
  margin-right: 10px;
  padding: 10px 0;
}
.MainHeader.sticky .LinksList .Tour .dropdown-menu li a {
  color: #576369 !important;
}
.MainHeader.sticky .LinksList .Tour .dropdown-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #112c38 !important;
}
.MainHeader.sticky .LinksList .devider {
  background-color: rgba(0, 0, 0, 0.15);
}
.MainHeader.sticky .NavTogleBtn a {
  color: #112c38;
}
.MainHeader.sticky .NavTogleBtn a:hover,
.MainHeader.sticky .NavTogleBtn a:focus {
  color: #000000;
}
.MainHeader.sticky .NavTogleBtn .BtnRegister {
  background-color: #33b1eb;
  color: #ffffff;
}
.MainHeader.sticky .NavTogleBtn .BtnRegister:hover {
  color: #ffffff;
  background-color: #1599d6;
}
.MainHeader.sticky .NavTogleBtn .BtnLanguage .DropDownIcon {
  color: #112c38 !important;
  opacity: 0.4;
}
.MainHeader.sticky .NavTogleBtn .BtnLanguage .dropdown-menu {
  margin-top: -3px;
}
.MainHeader.sticky .NavTogleBtn .BtnLanguage .dropdown-menu a:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .MainHeader .navbar-brand {
    padding-left: 20px;
  }
  .MainHeader .NavTogleBtn {
    float: none !important;
  }
  .MainHeader .NavTogleBtn .navbar-nav {
    display: none;
  }
  .MainHeader .navbar-collapse {
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.92);
    width: 150%;
    overflow: hidden;
    padding-left: 20px;
  }
  .MainHeader .navbar-collapse .Lang img {
    vertical-align: top;
    margin-right: 10px;
  }
  .MainHeader .LinksList a {
    opacity: 0.8;
  }
  .MainHeader .LinksList a:hover {
    opacity: 1;
  }
  .MainHeader .LinksList .Tour .dropdown-menu {
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 0;
  }
  .MainHeader .LinksList .Tour .dropdown-menu li a {
    color: rgba(255, 255, 255, 0.8);
  }
  .MainHeader .LinksList .Tour .dropdown-menu li a:hover {
    color: #ffffff;
    background-color: transparent;
  }
  .MainHeader .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }
  .MainHeader .navbar-toggle:hover,
  .MainHeader .navbar-toggle:focus {
    background-color: transparent !important;
  }
  .MainHeader.sticky .icon-bar {
    background-color: #444748 !important;
  }
  .MainHeader.sticky .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
/*#endregion */
/*#region MainFooter */
.MainFooter {
  background-color: #112c38;
  padding: 40px 0;
}
.MainFooter .TopRow img {
  margin-bottom: 20px;
}
.MainFooter .TopRow .RightColumn {
  text-align: right;
}
.MainFooter .TopRow .RightColumn a {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}
.MainFooter .TopRow .RightColumn a:hover {
  opacity: 1;
}
.MainFooter .TopRow .RightColumn ul li {
  padding: 10px;
}
.MainFooter .BottomRow span {
  font-size: 14px;
  opacity: 0.5;
  color: #ffffff;
}
@media (max-width: 767px) {
  .MainFooter {
    padding: 25px 0;
  }
  .MainFooter .TopRow {
    text-align: center;
  }
  .MainFooter .TopRow img {
    margin-bottom: 10px;
  }
  .MainFooter .TopRow .RightColumn {
    text-align: center;
    padding-bottom: 5px;
  }
  .MainFooter .TopRow .RightColumn a {
    font-size: 16px;
  }
  .MainFooter .TopRow .RightColumn ul li {
    padding: 5px 5px;
  }
  .MainFooter .TopRow .RightColumn ul li:first-child {
    padding-left: 0px;
  }
  .MainFooter .TopRow .RightColumn ul li:last-child {
    padding-right: 0px;
  }
  .MainFooter .BottomRow {
    text-align: center;
  }
  .MainFooter .BottomRow span {
    font-size: 14px;
  }
}
/*#endregion */
